**/node_modules
**/dist
**/.tsbuildinfo
**/coverage
**/.turbo
**/.pnpm-store
**/.vitest-cache
**/.next
**/.cache
**/*.log
.git
.github
.devcontainer
.omc
.vscode
**/*.test.ts
**/*.int.test.ts
**/*.spec.ts
**/test/integration
**/.env
**/.env.local
**/.env.*.local
docker
postman
scripts
README.md
*.md
prisma/seed/index.js
prisma/seed/index.js.map
prisma/seed/index.d.ts
